In [1]:
import pandas as pd
from pathlib import Path

In [2]:
data_dir = Path("../data/raw")

In [3]:
example_df = pd.read_excel(
    data_dir / "EastCoast-Bottlenose-2017-2019.xlsx", sheet_name="Dataset"
)

In [4]:
example_df.shape

(2647, 69)

In [5]:
df = pd.read_excel(data_dir / "UNC-DataRequest-01302026.xlsx", sheet_name="2015-2024")

In [6]:
df.shape

(2550, 55)

In [ ]:
set(map(lambda x: x.lower(), df.columns)) - set(
    map(lambda x: x.lower(), example_df.columns)
)

{'2007 partial carcass',
 '2007 whole carcass',
 'additional remarks',
 'condition comments',
 'confidence code',
 'date of exam',
 'dead animal exam',
 'died during transport flag',
 'euthanized during transport',
 'examined',
 'extent of exam',
 'how lat/long determined',
 'latitude units',
 'longitude units',
 'report type',
 'transferred to rehabilitation'}

In [17]:
set(map(lambda x: x.lower(), example_df.columns)) - set(
    map(lambda x: x.lower(), df.columns)
)

{'boat collision',
 'body of water',
 'carcass buried flag',
 'carcass frozen for later exam',
 'carcass landfill flag',
 'carcass left at site flag',
 'carcass rendered flag',
 'carcass sunk flag',
 'carcass towed flag',
 'city - from strandings table',
 'date of necropsy',
 'day of examination',
 'disentangled flag',
 'findings of human interaction',
 'fishery interaction',
 'gear collection flag',
 'how observed',
 'locality detail',
 'month of examination',
 'necropsied flag',
 'necropsy limited flag',
 'observation date',
 'other findings upon level y/n',
 'other human int description',
 'other human interaction',
 'photos/videos taken',
 'region',
 'restrand',
 'shot',
 'year of examination'}

In [13]:
df.head(5)

,National Database Number,Confidence Code,Common Name,Genus,Species,County,State,Latitude,Latitude Units,Latitude Actual/Estimate,...,Length actual/estimate,Weight,Weight Units,Weight actual/estimate,Dead Animal Exam,Extent of Exam,Necropy Carcass Fresh/Frozen,Date of Exam,Additional Remarks,Report Type
0,SE-2024-1283198,Confirmed Public Report,"Dolphin, bottlenose",Tursiops,truncatus,Charleston,SC,32.753987,decimal degrees,actual,...,notMeasured,NaN,NaN,notMeasured,N,NaN,NaN,NaN,Stranded alive. Pushed back to sea by public. ...,NaN
1,SE-2016-1185796,Confirmed - High Report,"Dolphin, bottlenose",Tursiops,truncatus,Carteret,NC,35.014470,decimal degrees,actual,...,actual,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
2,SE-2016-1185799,Confirmed - High Report,"Dolphin, bottlenose",Tursiops,truncatus,Hyde,NC,35.428380,decimal degrees,actual,...,actual,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
3,SE-2021-1236490,Confirmed - Minimum,"Dolphin, bottlenose",Tursiops,truncatus,Charleston,SC,32.657583,decimal degrees,actual,...,estimate,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
4,SE-2021-1236491,Confirmed - High Report,"Dolphin, bottlenose",Tursiops,truncatus,Charleston,SC,32.674153,decimal degrees,actual,...,actual,NaN,NaN,NaN,Y,complete,fresh,2021-Jun-29,NaN,NaN

In [11]:
df[df["Latitude Actual/Estimate"] == "actual"]

,National Database Number,Confidence Code,Common Name,Genus,Species,County,State,Latitude,Latitude Units,Latitude Actual/Estimate,...,Length actual/estimate,Weight,Weight Units,Weight actual/estimate,Dead Animal Exam,Extent of Exam,Necropy Carcass Fresh/Frozen,Date of Exam,Additional Remarks,Report Type
0,SE-2024-1283198,Confirmed Public Report,"Dolphin, bottlenose",Tursiops,truncatus,Charleston,SC,32.753987,decimal degrees,actual,...,notMeasured,NaN,NaN,notMeasured,N,NaN,NaN,NaN,Stranded alive. Pushed back to sea by public. ...,NaN
1,SE-2016-1185796,Confirmed - High Report,"Dolphin, bottlenose",Tursiops,truncatus,Carteret,NC,35.014470,decimal degrees,actual,...,actual,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
2,SE-2016-1185799,Confirmed - High Report,"Dolphin, bottlenose",Tursiops,truncatus,Hyde,NC,35.428380,decimal degrees,actual,...,actual,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
3,SE-2021-1236490,Confirmed - Minimum,"Dolphin, bottlenose",Tursiops,truncatus,Charleston,SC,32.657583,decimal degrees,actual,...,estimate,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
4,SE-2021-1236491,Confirmed - High Report,"Dolphin, bottlenose",Tursiops,truncatus,Charleston,SC,32.674153,decimal degrees,actual,...,actual,NaN,NaN,NaN,Y,complete,fresh,2021-Jun-29,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2544,SE-2022-1258807,Confirmed by Network,"Whale, pygmy sperm",Kogia,breviceps,Dare,NC,35.499200,decimal degrees,actual,...,actual,0.0,NaN,notMeasured,Y,partial internal exam,fresh,2022-Sep-24,Suspected cow/calf pair within 0.2 miles of ea...,Stranded
2545,NE-2018-1207271,Confirmed - Minimum,"Seal, harbor",Phoca,vitulina,Northampton,VA,37.325900,decimal degrees,actual,...,notMeasured,NaN,NaN,notMeasured,N,NaN,NaN,NaN,"Three visible wounds (shark?), no active bleed...",NaN
2546,NE-2019-1210239,Confirmed - Medium Report,"Seal, harbor",Phoca,vitulina,Northampton,VA,37.182530,decimal degrees,actual,...,estimate,NaN,NaN,notMeasured,N,NaN,NaN,NaN,NaN,NaN
2547,SE-2022-1242580,Confirmed by Network,"Dolphin, common, short-beaked",Delphinus,delphis,Dare,NC,35.232766,decimal degrees,actual,...,actual,62.5,kg,actual,Y,complete internal exam,fresh,2022-Feb-15,One of two animals (CAHA 559 Delphinus delphis...,Stranded
2549,NE-2019-1211216,Confirmed - High Report,"Seal, harbor",Phoca,vitulina,Accomack,VA,37.904478,decimal degrees,actual,...,actual,NaN,NaN,notMeasured,N,NaN,NaN,NaN,NaN,NaN