In [5]:
import pandas as pd
from pathlib import Path

from se_coast_strandings import make_dt_col, make_cyclic

In [6]:
data_dir = Path("../data/raw")

In [7]:
df = pd.read_excel(data_dir / "UNC-DataRequest-01302026.xlsx", sheet_name="2015-2024")

In [8]:
print(df.columns)

Index(['National Database Number', 'Confidence Code', 'Common Name', 'Genus',
       'Species', 'County', 'State', 'Latitude', 'Latitude Units',
       'Latitude Actual/Estimate', 'Longitude', 'Longitude Units',
       'Longitude Actual/Estimate', 'How lat/long determined',
       'Year of Observation', 'Month of Observation', 'Day of Observation',
       'Observation Status', 'Examined', 'Date of Examination',
       'Condition at Examination', 'Left at Site', 'Immediate Release at Site',
       'Relocated Flag', 'Euthanized at Site Flag', 'Died at Site Flag',
       'Transferred to Rehabilitation', 'Died During Transport Flag',
       'Euthanized During Transport', 'Sick Flag', 'Injured Flag',
       'Out of Habitat Flag', 'Deemed Healthy/Releasable Flag',
       'Abandoned/Orphaned Flag', 'Inaccesible Flag',
       'Location Hazardous to Animal', 'Location Hazardous Public',
       'Unknown/CBD Flag', 'Condition Comments', 'Sex', 'Age Class',
       '2007 Whole Carcass', '2007 Partial Carcass', 'Length', 'Length Units',
       'Length actual/estimate', 'Weight', 'Weight Units',
       'Weight actual/estimate', 'Dead Animal Exam', 'Extent of Exam',
       'Necropy Carcass Fresh/Frozen', 'Date of Exam', 'Additional Remarks',
       'Report Type'],
      dtype='str')

In [9]:
df["Latitude Actual/Estimate"].value_counts(dropna=False)

Latitude Actual/Estimate
actual      2011
estimate     530
NaN            9
Name: count, dtype: int64

In [10]:
same = df["Latitude Actual/Estimate"] == df["Longitude Actual/Estimate"]
df = df[same]

In [11]:
df["is_actual_coords"] = df["Latitude Actual/Estimate"] == "actual"

In [12]:
df["is_actual_coords"].value_counts(dropna=False)

is_actual_coords
True     1992
False     529
Name: count, dtype: int64

In [13]:
df[["Day of Observation", "Month of Observation", "Year of Observation"]].head(5)

   Day of Observation Month of Observation  Year of Observation
0                  20                  JUL                 2024
1                  27                  MAY                 2016
2                  28                  MAY                 2016
3                  19                  JUN                 2021
4                  29                  JUN                 2021

In [15]:
df["mms_observation_dt"] = make_dt_col(
    df["Day of Observation"], df["Month of Observation"], df["Year of Observation"]
)

In [ ]:
df["dayofweek_sin"], df["dayofweek_cos"] = make_cyclic(
    df["mms_observation_dt"].dt.dayofweek, 7, name="dayofweek"
)
df["month_sin"], df["month_cos"] = make_cyclic(
    df["mms_observation_dt"].dt.month, 12, name="month"
)